<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86c47e">  <td>21/07/17 18:15:04</td>   <td>0</td> <td title="&gt;&gt;BaseConfiguration.GoogleConfigSetUp()[pri:0, instance:testngRestApiFramework.LibraryAPI@a50ae65]">&gt;&gt;GoogleConfigSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1217741734</td>   <td></td> </tr>
<tr bgcolor="86c47e">  <td>21/07/17 18:15:07</td>   <td>3429</td> <td title="&gt;&gt;BaseConfiguration.LibraryConfigSetUp()[pri:0, instance:testngRestApiFramework.LibraryAPI@a50ae65]">&gt;&gt;LibraryConfigSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1217741734</td>   <td></td> </tr>
<tr bgcolor="cf6ea3">  <td>21/07/17 18:15:14</td>   <td>10158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryAPI.addAndDeleteBook(java.lang.String,int)[pri:0, instance:testngRestApiFramework.LibraryAPI@a50ae65]">addAndDeleteBook</td> 
  <td>TestNG-tests-2@1127570912</td>   <td></td> </tr>
<tr bgcolor="cf6ea3">  <td>21/07/17 18:15:14</td>   <td>10158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryAPI.addAndDeleteBook(java.lang.String,int)[pri:0, instance:testngRestApiFramework.LibraryAPI@a50ae65]">addAndDeleteBook</td> 
  <td>TestNG-tests-2@1127570912</td>   <td></td> </tr>
<tr bgcolor="cf6ea3">  <td>21/07/17 18:15:14</td>   <td>10158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryAPI.addAndDeleteBook(java.lang.String,int)[pri:0, instance:testngRestApiFramework.LibraryAPI@a50ae65]">addAndDeleteBook</td> 
  <td>TestNG-tests-2@1127570912</td>   <td></td> </tr>
<tr bgcolor="957971">  <td>21/07/17 18:15:07</td>   <td>3610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE1()[pri:0, instance:testngRestApiFramework.GoogleAPI@6ce90bc5]">addUpdateGetGooglePlace_TYPE1</td> 
  <td>TestNG-tests-1@2139944347</td>   <td></td> </tr>
<tr bgcolor="957971">  <td>21/07/17 18:15:13</td>   <td>8919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE2()[pri:0, instance:testngRestApiFramework.GoogleAPI@6ce90bc5]">addUpdateGetGooglePlace_TYPE2</td> 
  <td>TestNG-tests-1@2139944347</td>   <td></td> </tr>
<tr bgcolor="957971">  <td>21/07/17 18:15:19</td>   <td>15315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE3()[pri:0, instance:testngRestApiFramework.GoogleAPI@6ce90bc5]">addUpdateGetGooglePlace_TYPE3</td> 
  <td>TestNG-tests-1@2139944347</td>   <td></td> </tr>
</table>
