<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testngRestApiFramework.GoogleAPI</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addUpdateGetGooglePlace_TYPE1</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addUpdateGetGooglePlace_TYPE2</td>
<td>sanity Unit test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addUpdateGetGooglePlace_TYPE3</td>
<td>sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
