<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>GoogleAPI.addUpdateGetGooglePlace_TYPE1()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]<br/></td></tr>
<tr><td>Unit test</td><td>GoogleAPI.addUpdateGetGooglePlace_TYPE2()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]<br/></td></tr>
<tr><td>sanity</td><td>GoogleAPI.addUpdateGetGooglePlace_TYPE3()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]<br/>GoogleAPI.addUpdateGetGooglePlace_TYPE2()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]<br/></td></tr>
</table>
