<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91acc9">  <td>21/07/17 18:30:57</td>   <td>0</td> <td title="&gt;&gt;BaseConfiguration.GoogleConfigSetUp()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]">&gt;&gt;GoogleConfigSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1280263013</td>   <td></td> </tr>
<tr bgcolor="91acc9">  <td>21/07/17 18:31:06</td>   <td>9772</td> <td title="&gt;&gt;BaseConfiguration.LibraryConfigSetUp()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]">&gt;&gt;LibraryConfigSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1280263013</td>   <td></td> </tr>
<tr bgcolor="b1777c">  <td>21/07/17 18:31:07</td>   <td>9945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE1()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]">addUpdateGetGooglePlace_TYPE1</td> 
  <td>main@1280263013</td>   <td></td> </tr>
<tr bgcolor="b1777c">  <td>21/07/17 18:31:20</td>   <td>22980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE2()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]">addUpdateGetGooglePlace_TYPE2</td> 
  <td>main@1280263013</td>   <td></td> </tr>
<tr bgcolor="b1777c">  <td>21/07/17 18:31:26</td>   <td>29002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAPI.addUpdateGetGooglePlace_TYPE3()[pri:0, instance:testngRestApiFramework.GoogleAPI@4a5905d9]">addUpdateGetGooglePlace_TYPE3</td> 
  <td>main@1280263013</td>   <td></td> </tr>
</table>
